@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e76100;
  --secondary: #6d0858;
  --background: #fdf6f0;
  --text: #2d2d2d;
}

body {
  background-color: var(--background);
  color: var(--text);
} 